header{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: contain;
}
#logo{
    height: 30px;
    margin-top: 1cm;
}
.sottotitolo{
    color: #808080;
}
#booleaner{
    color: #20A9E5;
}
.lorem{
    background-color: yellow;
}
thead{
    background-color: #20A9E5;
    color: white;
}
.righe{
    background-color: #B1E5F2;
}
#computer{
    background-image: url(../img/monitor.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 150px;
    color: white;
    margin-bottom: 1cm;
}
#chat{
    background-image: url(../img/graph.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 250px;
    height: 150px;
    color: white;
}

